.header
  %h2
    Multigraph - current

.content-inner
  #measGraphMulti

  
:javascript
  var g = new HomeIOMeasGraphMulti;
  g.container = "#measGraphMulti";
  g.periodicDynamic = true;
  g.periodicDynamicMinimum = 1500;
  g.periodicDynamicMaximum = 20000;
  g.periodicDynamicMultiplier = 5;
  g.start()  
  
  $(window).trigger('resize');  