.header
  %h2= subname

.content-inner
  %input{type: "hidden", value: range, id: 'graphRange'}
  %input{type: "hidden", value: meases, id: 'graphMeasesChecked'}  
  #measGraphMulti{data-range: range}
  
:javascript
  var g = new HomeIOMeasGraphMulti;
  g.container = "#measGraphMulti";
  g.mode = 'history';
  g.historyUseFullRange = false;
  g.historyTimeRange = $("#graphRange").val() * 1000;
  g.checkedMeases = $("#graphMeasesChecked").val();
  g.start();  
  
  $(window).trigger('resize');  
