.header
  %h2
    Multigraph - 1 day

.content-inner
  #measGraphMulti

  
:javascript
  var g = new HomeIOMeasGraphMulti;
  g.container = "#measGraphMulti";
  g.mode = 'history';
  g.historyUseFullRange = false;
  g.historyTimeRange = 24 * 3600 * 1000;
  g.start()  