.homeio-button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #4455b8;
  width: 90%;
  margin: 10px;
  padding: 10px; }

.meas-button .meas-value {
  font-size: 200%; }

.meas-button-important {
  background: #58b863; }

.meas-header-important {
  color: red; }

.homeio-table {
  width: 95%;
  margin-top: 40px; }

#graph {
  height: 400px;
  min-height: 400px; }

.graph-control {
  position: relative; }

.graph-last-time {
  position: absolute;
  display: inline-block;
  right: 0px; }

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.button-success {
  background: #1cb841;
  /* this is a green */ }

.button-error {
  background: #ca3c3c;
  /* this is a maroon */ }

.button-warning {
  background: #df7514;
  /* this is an orange */ }

.button-secondary {
  background: #42b8dd;
  /* this is a light blue */ }

.multi-graph-container {
  height: 100%;
  width: 100%; }
  .multi-graph-container .multi-graph-graph-container {
    font-size: 10px;
    min-width: 300px;
    min-height: 300px;
    height: 100%;
    width: 100%; }
  .multi-graph-container .multi-graph-checkbox-container .multi-graph-checkbox-element {
    border-radius: 5px;
    background: #1f8dd6;
    color: #fff;
    display: inline-block;
    margin: 5px;
    padding: 4px; }
