- var klass = ""
- if (meas.priority > 0) {klass = "meas-button-important" }

.pure-u-1-3
  %a{href: "#/measurements/" + meas.name, class: "homeio-button meas-button pure-button button-xlarge " + klass}
    .meas-name
      = meas.name
    .meas-value
      = Number(parseFloat(meas.value)).toFixed(2)
