.content
  %p
    Graph

  #graph

:javascript
  var g = new HomeIOMeasGraph;
  g.meas_name = "#{meas_name}";
  g.element = "#graph";
  g.periodicDynamicMultiplier = 5;
  g.periodicDynamicMinimum = 1000; 
  g.maxBufferSize = 500;
  g.prepare();