.content
  %p
    Graph

  #graph

:javascript
  var g = new HomeIOMeasGraph;
  g.meas_name = "#{meas_name}";
  g.element = "#graph";
  g.periodicInterval = 500;
  g.maxBufferSize = 500;
  g.prepare();