{{define "layout"}}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HomeIO</title>
  <meta name="description" content="HomeIO">
  <meta name="author" content="Aleksander Kwiatkowski">

  <link rel="stylesheet" href="/assets/css/pure-min.css">
  <link rel="stylesheet" href="/assets/css/jquery-ui.min.css">

  <link rel="stylesheet" href="/assets/scss/app.css">

  <script src="/assets/js/jquery-2.1.3.min.js"></script>
  <script src="/assets/js/jquery-ui.min.js"></script>
  <script src="/assets/js/jquery.flot.min.js"></script>
  <script src="/assets/js/jquery.flot.time.js"></script>
  <script src="/assets/js/jquery.flot.resize.js"></script>
  <script src="/assets/js/sammy-latest.min.js"></script>
  <script src="/assets/js/haml.js"></script>
  <script src="/assets/js/sammy.haml.js"></script>
  <script src="/assets/js/pure-ui.js"></script>
  <script src="/assets/js/md5.min.js"></script>
  <script src="/assets/js/moment.min.js"></script>

  <script src="/assets/coffee/homeio_graph.js"></script>
  <script src="/assets/coffee/homeio_graph_multi.js"></script>
  <script src="/assets/coffee/homeio_graph_dashboard.js"></script>
  <script src="/assets/coffee/homeio_meas_value_periodic.js"></script>
  <script src="/assets/coffee/homeio_addon_output_renderer.js"></script>
  <script src="/assets/coffee/app.js"></script>

</head>
<body>

<div id="layout">
  <a href="#menu" id="menuLink" class="menu-link">
    <span></span>
  </a>

  <div id="menu">
    <div class="pure-menu pure-menu-horizontal">
      <a class="pure-menu-heading" href="#/">HomeIO</a>

      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#/measurements" class="pure-menu-link" id="measLink">Measurements</a></li>

        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#/graph" id="menuLink1" class="pure-menu-link">Graph</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="#/graph/0/default" class="pure-menu-link" id="">current</a></li>
                <li class="pure-menu-item"><a href="#/graph/60/default" class="pure-menu-link" id="">minute</a></li>
                <li class="pure-menu-item"><a href="#/graph/3600/default" class="pure-menu-link" id="">hour</a></li>
                <li class="pure-menu-item"><a href="#/graph/21600/default" class="pure-menu-link" id="">6 hours</a></li>
                <li class="pure-menu-item"><a href="#/graph/86400/default" class="pure-menu-link" id="">day</a></li>
                <li class="pure-menu-item"><a href="#/graph/259200/default" class="pure-menu-link" id="">3 days</a></li>
                <li class="pure-menu-item"><a href="#/graph/604800/default" class="pure-menu-link" id="">week</a></li>
                <li class="pure-menu-item"><a href="#/graph/-1/default" class="pure-menu-link" id="">full range</a></li>
            </ul>
        </li>

        <li class="pure-menu-item"><a href="#/overseers" class="pure-menu-link" id="overseerLink">Overseers</a></li>
        <li class="pure-menu-item"><a href="#/actions" class="pure-menu-link" id="actionLink">Actions</a></li>
        <li class="pure-menu-item"><a href="#/addons" class="pure-menu-link" id="actionLink">Addons</a></li>
        <li class="pure-menu-item"><a href="#/stats" class="pure-menu-link" id="statsLink">Stats</a></li>


      </ul>
    </div>
  </div>

  <div id="main" class="content">
  </div>

</body>
</html>
{{end}}
