{{define "content"}}
<div class="header" id="index">
  <h1>HomeIO</h1>
  <h2>A new approach</h2>
</div>

<div class="content">
  <div id="payload"></div>      
</div>

<div class="content">
  <p>test</p>
</div>


{{end}}